<div class="container">
    <h2>Delete Instructor</h2>

    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger col-md-12" role="alert">
            Are You Sure?
            <br>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-danger btn-sm" (click)="delete()">Delete</button>
                <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/instructor-list' ]">Back</a>
            </div>
        </div>
    </div>
    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
            <br>
            <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/instructor-list' ]">Back</a>
        </div>
    </div>
   <form #instructorForm="ngForm" *ngIf="instructor">

      <div class="form-row">
          <div class="col-md-4">
             <label>ID:</label>
                <input type="number" id="ID" name="ID" placeholder="Enter ther  ID" class="form-control"
                   #instructorID[(ngModel)]="instructor.ID">
           </div>
     <div class="col-md-4">
            <label>LastName:</label>
            <input type="text" id="Title" name="Title" placeholder="Enter ther Title" class="form-control"
                [(ngModel)]="instructor.LastName">
        </div>
        <div class="col-md-4">
            <label>FirstMidName:</label>
            <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Enter ther FirstMidName"
                class="form-control" [(ngModel)]="instructor.FirstMidName">
        </div>
        <div class="col-md-4">
            <label>HireDate:</label>
            <input type="Date" id="HireDate" name="HireDate" placeholder="Enter ther HireDate"
                class="form-control" [(ngModel)]="student.HireDate">
            </div>

         </div>

     </form>

</div>